body {
    font-family: 'Courier New', Courier, monospace, 'Times New Roman', Verdana, Geneva;
    font-size: 16px;
}
header {
    background-color: #085208;
    a {
        color: white;
    }
}
nav {
    display: inline-block;
    width: 80%;
    background-color: #000000;
}
nav li, nav ul {
    display: inline-block;
}
nav img {
    width: 10%;
    position: relative;
    top: 20px;
}
main {
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: rgba(255, 0, 0, 0.2);
}
footer{
    background-color: rgba(0, 255, 255, 0.2);
}
/* li {
    display: inline-block;
    width: 200px;
    text-align: center;
} */
h1 {
    text-align: center;
    font-family: Arial;
    color: yellow;
}
h2 {
    text-align: center;
    font-family: Arial;
    color: purple;
}
p {
    line-height: 150%;
}

div.flex {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 200px;
        margin: 20px;
    }
}

div.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}
div.grid img {
    width: 100%;
}
