body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #fffcee;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: url(../images/BaconGallupPark.jpg);
    background-position: center;
    background-size: cover;
}
h1 {
    display: block;
    margin: 20px auto;
    width: fit-content;
    background-color: #fffcee;
    color: #000;
    text-decoration: underline;
}
nav {
    display: block;
    margin: 20px auto;
}
nav a {
    color: #000;
    text-decoration: none;
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    background-color: #ddd;
    padding: 5px;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    margin: 10px;
}

nav ul li {
    margin: 20px;
}

footer{
    border-top-style: solid;
    border-top-color: #000;
    border-top-width: 2px;
}

div.flex {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 200px;
        margin: 20px;
    }
}

div.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}
div.grid img {
    width: 100%;
}

#skip-to-main-content {
    position: fixed;
    top: -50px;
    left: -50px;
    color: #000;
    background-color: #ff0;
    transition-property: top, left;
}

#skip-to-main-content:focus {
    top: 0px;
    left: 0px;
}
