html{
    color: #000;
    background-color: #dedede;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

figure {
    margin: 0px;
    padding: 0px;
    img {
        box-sizing: border-box;
        border: 5px solid blue;
        border-radius: 35px;
        width: 100%;
    }
    figcaption {
        text-align: center;
    }
}

div.grid {
    display: grid;
    grid-template-columns: 80%;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

@media all and (min-width:772px) {

    figure img {
        width: 100%;
        border-radius: 50%;
    }

    div.grid figure:last-child {
        grid-column: span 2;
    }

    div.grid {
        grid-template-columns: 40% 40%;

    }
}

@media all and (min-width:992px) {
    /* html { background-color: blue; } */

    figure img {
        border-radius: 0%;
    }
    div.grid figure:nth-child(3n) {
        grid-column: span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: initial;
    }
}

@media (prefers-color-scheme: dark) {
    figure {
        color: #fffd8d;
        background-color: #000;
        img {
            border-color: #000;
        }
    }
  }
